absl-py==2.1.0
annotated-types==0.6.0
astunparse==1.6.3
attrs==23.1.0
blinker==1.7.0
boto3==1.34.21
botocore==1.34.21
Cerberus==1.3.5
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
Deprecated==1.2.14
distlib==0.3.8
dnspython==2.4.2
docopt==0.6.2
email-validator==2.1.0.post1
filelock==3.14.0
Flask==3.0.0
Flask-Cors==4.0.0
Flask-Limiter==3.5.0
Flask-SQLAlchemy==3.1.1
flatbuffers==25.1.24
gast==0.6.0
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.70.0
h5py==3.12.1
idna==3.4
importlib-resources==6.1.1
iniconfig==2.0.0
iso8601==2.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.4.2
keras==3.8.0
libclang==18.1.1
limits==3.7.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
MetaTrader5==5.0.4803
ml-dtypes==0.4.1
MouseInfo==0.1.3
namex==0.0.8
ndjson==0.3.1
numpy==2.0.2
opt_einsum==3.4.0
optree==0.14.0
ordered-set==4.1.0
packaging==23.2
pandas==2.2.3
pdf2image==1.17.0
pillow==10.2.0
pipreqs==0.4.11
platformdirs==4.2.0
pluggy==1.3.0
protobuf==5.29.3
psycopg2-binary==2.9.9
py-mon==2.0.4
PyAutoGUI==0.9.54
pydantic==2.5.3
pydantic_core==2.14.6
PyGetWindow==0.0.9
Pygments==2.17.2
pyhumps==3.8.0
PyJWT==2.8.0
pymemcache==4.0.0
pymon==1.1
pymongo==4.6.1
PyMsgBox==1.0.9
pynput==1.7.6
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
pytest==7.2.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytweening==1.2.0
pytz==2024.2
pywin32==308
PyYAML==6.0.1
pyzmq==26.2.0
redis==5.0.1
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339==6.2
rich==13.7.0
s3transfer==0.10.0
scikit-learn==1.6.1
scipy==1.15.1
sentry-sdk==2.18.0
six==1.16.0
SQLAlchemy==2.0.25
ta==0.11.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
threadpoolctl==3.5.0
typing_extensions==4.9.0
tzdata==2025.1
ujson==5.9.0
urllib3==2.0.7
uuid==1.30
virtualenv==20.25.1
watchdog==4.0.0
Werkzeug==3.0.1
wrapt==1.16.0
yarg==0.1.9
